*.html
awesome-lib
diagrams/.$Untitled Diagram.drawio.bkp
diagrams/.$Untitled Diagram.drawio.dtmp
# Unused/incomplete modules
rabbithole/unused_modules
# AUR
PKGBUILD
# Ignore self and vscode dotfiles
*.ignore
.vscode/
.github/
# USER FILES
# Ignore user's session files
rabbithole/session.lua
rabbithole/session.lua.bak
rabbithole/session.dat
rabbithole/session.dat.bak
# Ignore users settings files
settings.lua
settings-lxqt.lua
# Ignore user-scripts
scripts/user-scripts/*.*

*.code-workspace
