*.html
awesome-lib
diagrams/.$Untitled Diagram.drawio.bkp
diagrams/.$Untitled Diagram.drawio.dtmp

rabbithole/session.lua
rabbithole/session.lua.bak

rabbithole/session.dat
rabbithole/session.dat.bak

rabbithole/unused_modules/

rabbithole/services/sessionManager/sessionManagerService.lua~HEAD

rabbithole/settings.lua
settings.lua
PKGBUILD
*.ignore
.vscode/
.github/
