[submodule "awesome-sharedtags"]
	path = awesome-sharedtags
	url = https://github.com/SaintRyoh/awesome-sharedtags.git
[submodule "sub/lua-di"]
	path = sub/lua-di
	url = https://github.com/SaintRyoh/lua-di