[submodule "awesome-sharedtags"]
	path = awesome-sharedtags
	url = https://github.com/SaintRyoh/awesome-sharedtags.git
[submodule "debugger"]
	path = debugger
	url = https://github.com/slembcke/debugger.lua
[submodule "lua-di"]
	path = lua-di
	url = https://github.com/SaintRyoh/lua-di
