[submodule "sub/lua-di"]
	path = sub/lua-di
	url = https://github.com/SaintRyoh/lua-di
[submodule "sub/debugger"]
	path = sub/debugger
	url = https://github.com/slembcke/debugger.lua
[submodule "sub/awesome-sharedtags"]
	path = sub/awesome-sharedtags
	url = https://github.com/SaintRyoh/awesome-sharedtags.git
[submodule "sub/rubato"]
	path = sub/rubato
	url = https://github.com/andOrlando/rubato
[submodule "sub/freedesktop"]
	path = sub/freedesktop
	url = https://github.com/LycanDarko666/rabbithole-freedesktop
[submodule "sub/nice"]
	path = sub/nice
	url = https://github.com/SaintRyoh/awesome-wm-nice
[submodule "sub/bling"]
	path = sub/bling
	url = https://github.com/SaintRyoh/bling
[submodule "sub/awesome-buttons"]
	path = sub/awesome-buttons
	url = https://github.com/SaintRyoh/awesome-buttons
